<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ siteUrl }}assets/css/index.css">
</head>
<body>
    		<header>
			<nav>
				{# <img src="{{ siteUrl }}assets/images/placeholder.com-logo3.jpg" height="50px" width="200px" alt=""> #}
				{% set slug = craft.app.request.getSegment(1) %}
				{# <h1> #}
                    {# </h1> #}
                    <div class="nav-right"> 
                        {% for link in header.navigation %}
                        {% set url = link.linkUrl.one() %}  
                        {# {{ slug }} #}
                            <a href="{{ url.url }}" class="nav-link {% if slug == url.slug %}nav-link-active{% endif %}">{{ link.linkText }}</a>
                        {% endfor %}
				</div>
			</nav>
		</header>
    
    {% block content %}

    {% endblock %}
</body>
</html>

<style>

.nav-link-active {
    color: red;
}
    
</style>